<form action="/students" method="post">
    <label for="name">Name: </label>
    <input type="text" name="[student]name" id="name"/>
    <br />
    <br />
    <label for="grade">Grade: </label>
    <input type="text" name="[student]grade" id="grade" />
    <br />
    <br />
    <input type="submit" name="submit" value="Submit" />
</form>