<form method="post" action="/login">
    <label for="Name">Name</label>
    <input type="text" id="Name" name="name" value="<%= @name %>"/>
    <br />
    <br />
    <label for="password">Password</label>
    <input type="password" name="password" />
    <br />
    <br />
    <input type="submit" name="submit" />
</form>
